.ide-frame{
    display: flex;
}

.ide-frame > :first-child{
    width: 70%;
    border-right: 1px solid gray;
}

.ide-content-code, .ide-content-files{
    padding: 10px;
    box-sizing: border-box;
}

.ide-content-code {
    display: flex;
    font-family: monospace;
    background: #1e1e1e;
    color: #dcdcdc;
    font-size: 14px;
}

.line-numbers {
    background: #2e2e2e;
    color: #888;
    padding: 4px 8px;
    text-align: right;
}

.code-content {
    white-space: pre;
    padding: 4px 8px;
    flex: 1;
}
