.ide-frame {
    display: flex;
    height: 60vh;
}

.ide-frame > :first-child {
    width: 70%;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column; /* 🔥 Asegura que el código ocupe el alto disponible */
}

.ide-content-code, .ide-content-files {
    padding: 10px;
    box-sizing: border-box;
}

.ide-content-code {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    background: #1e1e1e;
    color: #dcdcdc;
    font-size: 14px;
    overflow-y: auto;        
    overflow-x: auto;        
    height: 100%;            
}

.code-content {
    white-space: pre-wrap;    
    padding: 4px 8px;
    flex: 1;
}
